body {
  padding-top: 54px;
  position: relative;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4 {
  font-variant-caps: small-caps;
}

section {
  border-bottom: 1px solid #EEE;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-variant-caps: small-caps;
}
#sideNav {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    width: 17rem;
    height: 100vh;
    box-shadow: 0.5rem 0 1rem rgb(0 0 0 / 5%), inset -1px 0 0 rgb(0 0 0 / 15%);
  }
  #sideNav .container-fluid {
    flex-direction: column;
    height: 100%;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
